<h2>Idea Factory</h2>
<hr>

<div class="ideas-home">
<% @ideas.each do |i| %>
  <p><strong>Title: </strong><%= link_to i.title, idea_path(i) %></p>
  <p><strong>Body: </strong><%= i.body %></p>
  <p><strong>By: </strong><%= i.user.name_display %></p>
  <hr>
<% end %>
</div>

